body {
    font-family: Arial;
    background-color: #f4f6f9;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: darkblue;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
}